.header {
    padding: 30px;
    background-color:black;
    color:blueviolet;
    text-align: center;
}

.menu {
    width:30%;
    background-color: blue;
    height: 300px;
    float: left;
}

.content {
    width: 100px;
    height: 150px;
    background-color: aqua;
}