*{
    font-family: 'Courier New', Courier, monospace;
}


h1,h2,h3 {
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    
}

.header2 {
    color:blueviolet
}

.box{
    color: green;

}

.box2 {
    color:red
}
.box3 {
    color:azure
}

p.box4 {
    color:pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

div.order {
    color:blue;
}

.order {
    color:red
}

